<div id="<%= dom_id account %>" >
  <table>
    <tr>
      <th>Name</th>
      <th>VAT</th>
      <th>City</th>
      <th>Zipcode</th>
      <th>Street Address</th.
    </tr>
    <tr>
      <td><%= account.name %></td>
      <td><%= account.vat %></td>
      <td><%= account.city %></td>
      <td><%= account.zipcode %></td>
      <td><%= account.address %></td> 
    </tr>
  </table>
</div>